<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="{{ object.main_img.url }}" alt="...">
        <div class="caption">
            <a href="{% url 'base:dish' object.id %}"><h3>{{ object.name }}</h3></a>
            <h6>{{ object.price }}$</h6>
            {% if request.session.username == 'admin' %}
                <p><a href="{% url 'base:dish_update' object.id %}" class="btn btn-primary" role="button">Update</a>
            {% else %}
                <a href="{% url 'base:dish' object.id %}">Details</a></p>
            {% endif %}
        </div>
    </div>
</div>
