<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="{{ contact.img.url }}" alt="...">
        <img src="{{ contact.flag.url }}" alt="...">
        <div class="caption">
             <a href="{% url 'base:country' contact.id %}"><h3>{{ contact.name }}</h3></a>
            <p><h3>{{ contact.description }}</h3></p>
            {% if request.session.username == 'admin' %}
                <p><a href="{% url 'base:country_update' contact .id %}" class="btn btn-primary" role="button">Update</a>
            {% else %}
                <a href="{% url 'base:country' contact.id %}">Details</a></p>
            {% endif %}
        </div>
    </div>
</div>




