{% extends 'base.html' %}
{% load static %}

{% block titel %} Create {% endblock %}


{% block content %}
 <div class="general-contener">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Creating new user</h1>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            {% include 'base/login_obgect.html' %}
                            <button type="submit" class="btn btn-primary btn-orange">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
