{% extends 'base.html' %}
{% load static %}

{% block titel %} Create {% endblock %}


{% block content %}
  <div class="col-lg-offset-4 col-lg-4">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        {% include 'base/login_obgect.html' %}
        {% if login_error %}
            <label class="error"> {{ login_error }}</label>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        <label class="center" ><a href="{% url 'base:create'  %}">Create account</a></label>
    </form>
</div>

{% endblock %}
