{% extends 'base.html' %}
{% load static %}

{% block titel %} Home {% endblock %}


{% block content %}

<div id="page-content-wrapper">
    <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1 class="heading-delicia">Delicia</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1 class="info-delicia">This site provides you information about national foods of coutries and the most popular recipes.
                    </h1>
                </div>
            </div>
    </div>

</div>


{% endblock %}
