<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <button id="user_details" class="btn dropdown-toggle glyphicon glyphicon-user">{{ request.session.username }}
                        </button>
                        <ul id="user_details_list" class="dropdown-menu">
                            <li>
                                <a href="{% url 'access:details' %}">User Account</a>
                            </li>
                            <li>
                                {% if request.session.username %}
                                    <a href="{% url 'access:logout' %}">Log out</a>
                                {% else %}
                                    <a href="{% url 'access:login' %}">Log in</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a href="{% url 'home:home' %}">Delicia</a>
                    </li>
                    <li>
                        <a href="{% url 'home:news' %}">News</a>
                    </li>
                    <li>
                        <a href="{% url 'base:countries' %}">Countries</a>
                    </li>
                    <li>
                        <a href="{% url 'base:types' %}">Food</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                    </li>
                </ul>
    </div>
