
<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home:home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'home:news' %}">News</a>
                </li>
                <li>
                    <a href="{% url 'base:countries' %}">Countries</a>  <button>list</button>
                </li>
                <li>
                    <a href="#">Food</a>
                </li>
                <li>
                    <a href="#">Gallery</a>

                </li>
                <br>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

                <li>

                </li>
            </ul>
        </div>