body{
    background: url('../../../media/home/news/bg.jpg') no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }
.heading-delicia{
    font-size: 300px;
    color: #58ffeb;
    font-family:Parchment;
    }
.info-delicia{
    font-family:Adobe Caslon Pro;
    font-weight:normal;
    color:#30ffc7;
    margin:5%;
    background-color: #1b6d57;
    opacity: 0.8;
    filter: alpha(opacity=80);
    }
.text-muted{
    font-size: 20px;
    color: #005a4a;
    }
